  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Vaitra - Payment</title>
      <script src="" defer></script>
      <link rel="stylesheet" href="/static/payment.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
      <link rel="shortcut icon" href="/static/header.png" type="image/x-icon">
  </head>
  
  <body>
      <header>
          <nav class="navbar">
              <div class="navbar-logo">
                <a href="index.html"><img src="/static/header.png" alt="Logo">
                  <div class="head"><h1>Vaitra</h1><p>Smartflow BetterCare</p></div></a>
              </div>
              <ul class="nav-links">
                <li><a href="index.html#services">Services</a></li>
                <li><a href="index.html#doctors">Doctors</a></li>
                <li><a href="index.html#appointment">Appointments</a></li>
                <li><a href="index.html#artical">Articles</a></li>
                <li><a href="index.html#contact">Contact</a></li>
                  <li><a href="profile.html"><i class="fa-regular fa-circle-user"></i></a></li>
              </ul>
          </nav>
      </header>
      <div class="your-drive">
          <aside class="drive-sidebar">
            <h2 class="sidebar-title">Your Drive</h2>
            <ul class="sidebar-nav">
              <li class="nav-item"><i class="fa-solid fa-user"></i><a href="profile.html">Profile</a></li>
              <li class="nav-item"><i class="fa-solid fa-file-medical"></i><a href="medical.html">Medical records</a></li>
              <li class="nav-item"><i class="fa-solid fa-calendar-check"></i><a href="appointment.html">Appointments</a></li>
              <li class="nav-item"><i class="fa-solid fa-microscope"></i><a href="labtest.html">Lab Tests</a></li>
              <li class="nav-item"><i class="fa-solid fa-wallet"></i><a href="payment.html">Payments</a></li>
            </ul>
          </aside>
        
          <main class="drive-content">
            <div class="content-header">
              <div class="user-profile">
                <span class="profile-icon"><i class="fa-solid fa-user"></i></span>
                <span class="user-name">Pawan kushwaha</span>
              </div>
              <ul class="content-tabs">
                <li class="tab"><a href="#">Payment Options</a></li>
                <li class="tab "><a href="#">HealthCash History</a></li>
              </ul>
            </div>
        
            <div class="content-body">
              <div class="empty-state">
                  <i class="fa-regular fa-folder-open"></i>
                <p class="empty-message">You do not have any HealthCash transactions</p>
              </div>
            </div>
          </main>
        </div>
  </body>
  </html>